sqlalchemy
fastapi
langchain
langchain-community
langchain-classic
openai
chromadb
uvicorn
mcp
langchain_openai
langchain_chroma
langchain_mcp_adapters
langgraph
transformers
unstructured
sentence_transformers
huggingface_hub
huggingface_hub[hf_xet]
psycopg2
